body {
  background-color: black;
  margin: 0;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 1000vh; */
  color: aliceblue;
}

input {
  padding: 10px;
  font-size: 16px;
}

.fruitsList{
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
}